{% extends 'base.html' %}
{% block header %}
    <style type="text/css">
        .container-main{margin-top: 20px; margin-left: 10px;}
        .container-form, .container-table{padding-right:30px;}
        .alert{margin-right:30px;}
        .add-client-button, .download-button{width:150px; float:right; margin-right:30px;}
        .modify-checkin, .remove-checkin{color:#000; text-decoration: none; background-color: transparent;}
        .modify-checkin:hover{color: #12a116;}
        .remove-checkin:hover{color: crimson;}
        .modify-checkin-input{width: 40px; text-align: center;}
        td, th{text-align: center;}
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid container-main">
        {% if client is not none %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{client['first_name']}} {{client['last_name']}} Checked In Successfully!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="row">
            <h2>Check-In</h2> 
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="container-form">
                <form class="d-flex">
                    <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search" value="{{query or ''}}">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        {% if results is not none %}
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="container-table">
                    <table class="table">
                        <thead>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Adults</th>
                            <th scope="col">Children</th>
                            <th scope="col">Seniors</th>
                            <th scope="col"></th>
                        </thead>
                        <tbody>
                            {% for result in results %}
                                <tr>
                                    <th scope="row">
                                        {{result['id'][-9:]}}
                                    </th>
                                    <td>
                                        {{result['first_name']}}
                                    </td>
                                    <td>
                                        {{result['last_name']}}
                                    </td>
                                    <td>
                                        {{result['adults']}}
                                    </td>
                                    <td>
                                        {{result['minors']}}
                                    </td>
                                    <td>
                                        {{result['seniors']}}
                                    </td>
                                    <td>
                                        <a href="/check-in?id={{result['id']}}"><button class="btn btn-success">Check-In</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
        {% endif %}
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <a href='/register'><button class="add-client-button btn btn-outline-success"><i class="bi bi-person-plus-fill"></i> Add Client</button></a>
        </div>
        {% if checkins %}
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col">
                    <h4>Today's Distribution</h4>
                </div>
                <div class="col">
                    <a href="/download/today"><button type="button" class="btn btn-secondary download-button">Download&nbsp;<i class="bi bi-download"></i></button></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>Households:</b> {{ checkins|length }}
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="container-table">
                    <table class="table">
                        <thead>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Adults</th>
                            <th scope="col">Children</th>
                            <th scope="col">Seniors</th>
                            <th scope="col"></th>
                        </thead>
                        <tbody>
                            {% for checkin in checkins %}
                                <tr class="checkin-row">
                                    <th scope="row">
                                        {{checkin['id'][-9:]}}
                                    </th>
                                    <td id="{{checkin['id']}}-firstName">
                                        {{clients[checkin['id']]['first_name']}}
                                    </td>
                                    <td id="{{checkin['id']}}-lastName">
                                        {{clients[checkin['id']]['last_name']}}
                                    </td>
                                    <td id="{{checkin['id']}}-adults">
                                        {{checkin['adults'] or 0}}
                                    </td>
                                    <td id="{{checkin['id']}}-minors">
                                        {{checkin['minors'] or 0}}
                                    </td>
                                    <td id="{{checkin['id']}}-seniors">
                                        {{checkin['seniors'] or 0}}
                                    </td>
                                    <td>
                                        <a href="#" class="modify-checkin" id="{{checkin['id']}}-modify-checkin-link" role="button" onclick=modify('{{checkin["id"]}}') data-bs-toggle="tooltip"  title="Modify Check-In">
                                            <i id="{{checkin['id']}}-modify-checkin-icon"  class="modify-checkin bi bi-pencil-fill"></i>
                                        </a>
                                        &nbsp;&nbsp;
                                        <a href="#" class="btn remove-checkin" id="{{checkin['id']}}-remove-checkin-link" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick=fillRemoveConfirmModal("{{checkin['id']}}")>
                                            <i id="{{checkin['id']}}-remove-checkin-icon" class="remove-checkin bi bi-x-circle-fill" data-bs-toggle="tooltip"  title="Remove Check-In"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                                <td></td>
                                <th scope="row">
                                    Totals
                                </th>

                                <td>
                                    {{totals['adults']}}
                                </td>
                                <td>
                                    {{totals['minors']}}
                                </td>
                                <td>
                                    {{totals['seniors']}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span id="confirmationModalText"></span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button type="button" class="btn btn-danger" id="confirmationModalYes">Yes</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    function modify(id) {
        const adultsCount = parseInt($(`#${id}-adults`).text());
        const minorsCount = parseInt($(`#${id}-minors`).text());
        const seniorsCount = parseInt($(`#${id}-seniors`).text());
        $(`#${id}-adults`).html(`<input class="modify-checkin-input" type="text" id="${id}-modify-adults" value=${adultsCount}>`);
        $(`#${id}-minors`).html(`<input class="modify-checkin-input" type="text" id="${id}-modify-minors" value=${minorsCount}>`);
        $(`#${id}-seniors`).html(`<input class="modify-checkin-input" type="text" id="${id}-modify-seniors" value=${seniorsCount}>`);
        $(`#${id}-modify-checkin-icon`).removeClass('bi-pencil-fill');
        $(`#${id}-modify-checkin-icon`).addClass('bi-check-circle-fill');
        $(`#${id}-modify-checkin-icon`).removeAttr('onclick');
        $(`#${id}-remove-checkin-link`).removeAttr('data-bs-toggle');
        $(`#${id}-remove-checkin-link`).removeAttr('onclick');
        $(`#${id}-remove-checkin-icon`).removeClass('bi-x-circle-fill');
        $(`#${id}-remove-checkin-icon`).addClass('bi-arrow-counterclockwise');
        $(`#${id}-remove-checkin-icon`).click((event) => {
            location.reload();
        });
        $(`#${id}-modify-checkin-icon`).click((_) => {
            const newAdults = $(`#${id}-modify-adults`).val();
            const newMinors = $(`#${id}-modify-minors`).val();
            const newSeniors = $(`#${id}-modify-seniors`).val();
            const update = {adults: newAdults, minors: newMinors, seniors: newSeniors};
            console.log(update);
            $.ajax({
                type: 'PUT',
                url: `/check-in/today/${id}`,
                data: update,
                success: () => {
                    location.href = '../';
                }
            });
        });


    }
    function fillRemoveConfirmModal(id) {
        const firstName = $(`#${id}-firstName`).text().trim();
        const lastName = $(`#${id}-lastName`).text().trim();
        $('#confirmationModalText').text(`Are you sure you want to remove ${firstName} ${lastName} from today's distribution?`);
        $('#confirmationModalYes').click((_) => {
            console.log('clique!');
            $.ajax({
                type: 'DELETE',
                url: `/check-in/today/${id}`,
                success: () => {
                    location.href = '../'
                }
            });
        });
    }
</script>
{% endblock %}