{% extends 'base.html' %}
{% block header %}
    <style type="text/css">
        .container-main{margin-top: 20px; margin-left: 10px;}
        .container-form{padding-right:30px;}
        .container-table{padding-right:30px;}
        .add-client-button{width:150px; float:right; margin-right:30px;}
        td, th{text-align: center;}
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid container-main">
        <div class="row">
            <h2>Check-In</h2> 
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="container-form">
                <form class="d-flex">
                    <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search" value="{{query or ''}}">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        {% if results is not none %}
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="container-table">
                    <table class="table">
                        <thead>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Adults</th>
                            <th scope="col">Children</th>
                            <th scope="col">Seniors</th>
                            <th scope="col"></th>
                        </thead>
                        <tbody>
                            {% for result in results %}
                                <tr>
                                    <th scope="row">
                                        {{result['id']}}
                                    </th>
                                    <td>
                                        {{result['first_name']}}
                                    </td>
                                    <td>
                                        {{result['last_name']}}
                                    </td>
                                    <td>
                                        {{result['adults']}}
                                    </td>
                                    <td>
                                        {{result['minors']}}
                                    </td>
                                    <td>
                                        {{result['seniors']}}
                                    </td>
                                    <td>
                                        <a href="/check-in?id={{result['id']}}"><button class="btn btn-success">Check-In</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
        {% endif %}
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <a href='/register'><button class="add-client-button btn btn-outline-success"><i class="bi bi-person-plus-fill"></i> Add Client</button></a>
        </div>
        {% if checkins %}
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <h4>Today's Distribution</h4>
            </div>
            <div class="row">
                <div class="container-table">
                    <table class="table">
                        <thead>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Adults</th>
                            <th scope="col">Children</th>
                            <th scope="col">Seniors</th>
                        </thead>
                        <tbody>
                            {% for checkin in checkins %}
                                <tr>
                                    <th scope="row">
                                        {{checkin['id']}}
                                    </th>
                                    <td>
                                        {{clients[checkin['id']]['first_name']}}
                                    </td>
                                    <td>
                                        {{clients[checkin['id']]['last_name']}}
                                    </td>
                                    <td>
                                        {{checkin['adults']}}
                                    </td>
                                    <td>
                                        {{checkin['minors']}}
                                    </td>
                                    <td>
                                        {{checkin['seniors']}}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <th scope="row">
                                    Totals
                                </th>
                                <td>
                                    {{totals['adults']}}
                                </td>
                                <td>
                                    {{totals['minors']}}
                                </td>
                                <td>
                                    {{totals['seniors']}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}